<div class="row">
    <div class="col-8" style="margin-left: 20px;">
      <app-shopping-edit></app-shopping-edit>
      <hr>
      <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients; let i = index"
            (click)="onEditItem(i)">
            {{ ingredient.name }}
            <span class="badge bg-primary rounded-pill">{{ ingredient.amount }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
